[submodule "Transformaly"]
	path = Transformaly
	url = https://github.com/MatanCohen1/Transformaly.git
[submodule "anomaly_detection/sspcab"]
	path = anomaly_detection/sspcab
	url = https://github.com/ristea/sspcab.git
[submodule "anomaly_detection/pytorch-cutpaste"]
	path = anomaly_detection/pytorch-cutpaste
	url = https://github.com/Runinho/pytorch-cutpaste.git
