[submodule "anomaly_detection/Cutpaste"]
	path = anomaly_detection/Cutpaste
	url = https://github.com/Runinho/pytorch-cutpaste.git
[submodule "anomaly_detection/RD4AD"]
	path = anomaly_detection/RD4AD
	url = https://github.com/hq-deng/RD4AD.git
